<p><strong><em><h1 align="center">Heartland Miracles, LLC Invites you to...</h1></em></strong><br/><strong><h2
        align="center">&quot;Forgive For Good: A Three-week Book Study&quot;</h2></strong></p>
<h4 align="center"><strong>Led by Elaine Voci, PhD. owner of Elaine Voci Life Skills Coaching, LLC</strong></h4>
</p>
<h3 align="center"><strong>Thursday, April 4, 11 and 18, 2013, 9:30 am - 10:45 am</strong></h3>
<p align="center"><strong>$25 per person<a href="#caveat">*</a></strong></p>
<p>Dr. Fred Luskin, author of Forgive For Good, offers readers a proven nine-step forgiveness method that makes it
    possible to move beyond being a victim to a life of improved health and contentment.  Based on scientific research
    from the frontiers of psychology and medicine, his easy to read book offers us new insight into the healing powers
    and medical benefits of forgiveness.  </p>
<p>Dr. Luskin is cofounder and director of the Stanford University Forgiveness Project, and holds a Ph.D. in counseling
    and health psychology.  His website is <a href="http://www.learningtoforgive.com">www.learningtoforgive.com</a></p>
<p>About your book study facilitator:   Elaine is a Certified Forgiveness Coach and Director of Talent Development and
    Enrichment for Heartland Miracles, LLC, an experienced facilitator, and the author of seven books.  <a
            href="http://www.elainevoci.com">www.elainevoci.com</a></p>
<p>&nbsp;<a id="caveat">*</a>NOTE:  In order to participate, you will need to bring your own copy of the book ($14
    available on <a
            href="http://www.amazon.com/Forgive-Good-Frederic-Luskin/dp/006251721X/ref=sr_1_1?ie=UTF8&qid=1363461634&sr=8-1&keywords=forgive+for+good"
            target="_new">Amazon.com</a> or at local bookstores).</p>
<h5><strong><a href="#/paypal">Click here to register online</a>, call Elaine at (317) 730 - 5481 or email her at <a
        href="mailto:elaine@elainevoci.com">elaine@elainevoci.com</a></strong></h5>