<p align="center"><strong>Getting Your Life Back</strong><br/><em>A Mindful Approach to Your Caregiving Journey</em></p>
<p>&quot;When your days are filled with caregiving tasks and concerns, it’s not always easy to get your life back. But
    it’s possible—and essential...Be part of the present; live in it and enjoy it.&quot;<br/>
    —Alexis Abramson, Ph.D author</p>
<p align="center"><strong>A workshop that helps you learn the five critical steps of mindful caregiving</strong><br/>
<p>
    Caregiving is both a demanding and a rewarding human journey. As a caregiver you may spend years nobly caring for
    others while neglecting your own life. You are not alone. There are more than 40 million American adults struggling
    to provide caregiving for an aging friend or family member, usually a parent, without losing themselves in the
    process.</p>
<p>One of the challenges of caregiving is to balance it with other role responsibilities, such as holding a job, going
    to school, managing a personal life and a home. There are also other less visible pursuits in life such as achieving
    a sense of well being and knowing inner peace and contentment so that each day is fulfilling emotionally and
    spiritually. Exhausted, we may wonder,&quot;How do I get my life back?&quot;</p>
<p>Life is largely our own creation. Your guiding purpose is to build a life that is not only worth living now - one
    filled with purpose and intention that brings balance and inner peace – but a life you will want to return to when
    your caregiving days have ended. Focus on the time when you will look back on the caregiving chapters of your life:
    how do you want to feel? What do you want to take comfort in knowing that you did? What do you want to cherish in
    your memories? What were the life lessons you gained about yourself, about illness and aging, about hope, about the
    spiritual elements of your daily life?</p>
<h2>Workshop dates</h2>
    <h3>When: Saturday September 27, 2014<br/>
    9:00 am - 12:00 pm
    </h3>
    <h4>Where: 11805 N. Pennsylvania Street<br />
    Carmel, IN<br />
    </h4>
    <strong>
    <h5>$65 Registration cost<br />
             <a href="javascript:fsLightbox1094512.show()">Click here to register online</a>, call Elaine at (317) 730 - 5481 or email her at <a href="mailto:elaine@elainevoci.com">elaine@elainevoci.com</a></h5>
</strong>