<div id="workshop-content-right">
    <h2>Career Workshop:
        Creating the Work You Love</h2>
    <hr/>
    <p><strong>If you are sick and tired of not being allowed to be creative at work; if you want to do work that is personally meaningful; and if you are worn out from working with people who don’t share your values,  read on…</strong></p>

    <p>One of the most popular workshops I facilitate is “Creating the Work You Love.” Since 2008, many people who have taken this three-hour workshop have changed the way they looked at their career search and, even, at life itself;  instituted new strategies;  learned to trust their intuition; and joyfully found new jobs that offered meaningful work and the chance to finally be creative.   One of them, a woman who attended my workshop in Ohio, holds the record for turning her career life around:  a mere three weeks after the workshop, she had a job interview for her dream job.  And a week later she gave notice to her former employer and started her new position!</p>

    <p><strong>What is special about this workshop for career seekers, and why should you attend?</strong><br/>
The workshop is different from other career programs.  It is based on principles of quantum physics and practical spirituality that will make you feel like writing “YES!” in the margins of the workbook pages.  
</p>

<p>The workshop illuminates an understanding of how the world works; in particular, how our thoughts create reality and how we are all connected, alive with energy that continuously influences us.  These principles directly apply to finding the work you are meant to do.</p>

<p>The discussions we will have about your career search will be as profound as any spiritual book you’ve read, while also full of practical knowledge and useful tools that you can implement immediately. I believe it’s that unique combination that makes the workshop such fun, and such inspiration.</p>



    

    <p><strong>Here's what people are saying about the workshop:</strong></p>

    <p><em>&quot;This workshop ignited me! There is more to me than what I am offering now. I came not knowing what
        career path I was on and where I was going to leaving knowing what I need to do. It opened my eyes to what I
        have been doing and what I truly could be/should be doing. Thank you so much!&quot;</em></p>

    <p><em>&quot;This built confidence in my self; I know now that it's okay to go after what I want. I really liked the
        piece on the 'nine legacies of love.' Elaine, you are a fabulous facilitator and a great connector of people!&quot;</em>
    </p>

    <p><em>&quot;This workshop had a lot of variety which I loved; I found it helpful when we did our team break out
        sessions which inspired building some new relationships, and I loved your stories, humor and the vocal variety
        in the tone you used to tell us such great true stories. I look forward to taking more classes.&quot;</em></p>

    <p>
        <em>&quot;I learned a great deal and became excited about the job search process, instead of dreading it. I love
            the energy you bring and the way you touch everyone's experience to give us all wonderful feedback. Your
            Nine legacies of Love and the advice to first find a life and then find a job is perfect!&quot;</em></p>

    <p>
        <em>&quot;I feel better prepared to make a job search by knowing that we hunt for jobs the same way we live our
            lives and now that I know my own style, I am ready to go out there! Thank you very much for this class - it
            had a lot of good information and it was inspiring.&quot;</em></p>

    <p>
        <em>&quot;An excellent class! It helped bring hope back into my career change - thank you!&quot;</em></p>

    <p>
        <em>&quot;This class helped me realize that I need to figure out my passion first and then go for it. The Legacy
            of Love exercise is a smart way to live, too. It made me answer the key question of what do I want to be
            remembered for; thank you, Elaine.&quot;</em></p>

    <p><em>&quot;Loved it! This workshop got me think beyond the details of the job to the mission behind the job. I was
        focusing on the wrong things. The workshop was conducted in such a warm, thoughtful manner and the stories made
        it real. Thank you!&quot;</em></p>
    <h2>Workshop dates</h2>
          <h3>When: August 23, 2014<br />
                 9:00 am - 12:00 pm<br />
          </h3>
            <h4>Where: Carmel, IN<br/>
            Fee: $65 per person (limited to ten so please register early)</h4>
            <strong>
            <h5><br />
            <a href="javascript:fsLightbox1094512.show()">Click here to register online</a>, call Elaine at (317) 730 - 5481 or email her at <a href="mailto:elaine@elainevoci.com">elaine@elainevoci.com</a></h5>
        </strong>
</div>