	<p>The first Carmel <a href='pdf/DeathCafe_Flyer_Final_2014 with Elaine Facilitator.pdf' target="_new">Death Cafe</a> was held on Sunday, July 20th!  What a great group of people to meet - they were enthusiastic and grateful for one another; in fact, the "theme" in their evaluation comments was that they appreciated being with like-minded people who were willing to talk about death and dying.  One even called it "fun" and another called it a "fresh breath of openness".  Love that!</p>
    
	<p>Here's comments from the evals if you are interested in attending an upcoming Cafe:</p>

	<ul><u>Three words used to describe the experience:</u>
    <li>Meaningful</li>
    <li>Educational (2)</li>
    <li>Very useful and valuable (2)</li>
    <li>Hopeful</li>
    <li>Reflective</li>
    <li>Comfortable and comforting (2)</li>
	<li>Interesting (5)</li>
	<li>Informative (3)</li>
	<li>Safe to express myself (2)</li>
	<li>Different feelings and viewpoints</li>
	<li>Fun</li>
	<li>Cathartic</li>
	<li>Relaxing</li>
	<li>Thought-provoking (2)</li>
	<li>Energizing and exciting (2)</li>
	<li>A fresh breath of openness</li>
	<li>Possible</li>
	<li>Insightful</li>
    </ul>
    
	<ul><u>The most enjoyable aspect of the Cafe?:</u> 
	<li>Sharing and recognizing that others have same questions and concerns</li>
	<li>Listening and connecting</li>
	<li>Being around others who are willing to speak about death</li>
	<li>Meeting new people and sharing similar experiences</li>
	<li>Variety and diversity of experiences; very comfortable and low pressure environment and hearing some perspectives that I might consider exploring and or 			adopting</li>
	<li>People who listened without judging gave me a new perspective</li>
	<li>Meeting new people and talking about "that word" death</li>
	<li>The acceptance and openness of discussion; no pressure if you did not want to participate. Everyone listened and seemed to accept all other views.</li>
	<li>Hearing all the perceptions of non- healthcare people; people who had recently loss loved ones in hospice</li>
	<li>Sharing common concerns and experiences</li>
	<li>A great cake homemade, loved the table center; thank you for great environment you created</li>
    </ul>
    
    <p>"I would recommend the Death Cafe to family and friends" - 100% marked Strongly Agree</p>
    <p>"The event had a positive impact on me" - 100%  marked Strongly Agree or Agree</p>
    <p><strong>NEXT DEATH CAFE:  Registrations are closed for August 17</strong></p>
	<p><strong>SEPT 21 Death Cafe and Remaining Dates:</strong> Please consider attending one of the remaining Cafes to be held on Sept.21; Oct 19; Nov.16 and Dec. 21. The Death Cafes are always FREE, but you are asked to pre-register by calling me at 317-730-5481.</p>