<p><em>
    <blockquote>
        <p>
            <img src="images/ebook_cover_web.jpg" width="166" height="250" alt="Elaine's eBook!"></p>

        <p>It&rsquo;s here! My new e-book titled <strong><em>Creating the Work You Love: A Guide to Finding Your Right
            Livelihood</em></strong> has just been published.  It&rsquo;s available in formats that include PDF (reading
            on PC/MAC); EPUB (iPad, Nook and most e-book readers) and/or  MOBI (Kindle format) and is priced at $6.95.
        </p>

        <p>   <br>
            The book is dedicated to my career coaching clients and is written for those who seek to find work that
            expresses their purpose in life – their unique gifts, passion and desire to contribute.  Taken from a course
            that I teach called &ldquo;Creating the Work You Love&rdquo;, I expanded the content into this e-book so
            that you now can have a &ldquo;seat&rdquo; in the workshop without leaving home.<br>
        </p>

        <p>Here&rsquo;s an overview of the chapter titles, click <a href="pdf/ebook Introduction.pdf"
                                                                    target="_new">here</a> to read the Introduction. 
            <br>
        </p>

        <p><strong>Chapter One </strong><br>
            <strong>            The New Global World of Work</strong><br>
            <strong>Chapter Two </strong><br>
            <strong>            Finding a Job that is Right For You</strong><br>
            <strong>Chapter Three </strong><br>
            <strong>            Don&rsquo;t Lose Your Perspective</strong><br>
            <strong>Chapter Four </strong><br>
            <strong>            How to Find Your Passion</strong> <br>
            <strong>Chapter Five </strong><br>
            <strong>            The Power of Vision Boards</strong><br>
            <strong>Chapter Six </strong><br>
            <strong>            Networking and Building A Pyramid of Contacts</strong><br>
            <strong>Chapter Seven </strong><br>
            <strong>            All About Resumes</strong><br>
            <strong>Chapter Eight</strong><br>
            <strong>            How to Successfully Interview</strong><br>
            <strong>Chapter Nine </strong><br>
            <strong>            Saying Thank You</strong><br>
            <strong>Chapter Ten </strong><br>
            <strong>            Resources for Your Search </strong></p>
    </blockquote>
</em>
<p><strong>To order, click here:  </strong><a
        href="https://www.ebookit.com/books/0000002329/Creating-the-Work-You-Love-A-Guide-to-Finding-Your-Right-Livelihood.html"
        target="_new">
    https://www.ebookit.com/books/0000002329/Creating-the-Work-You-Love-A-Guide-to-Finding-Your-Right-Livelihood.html</a><strong> </strong>
</p>
            