<p align="center"><strong>NEW WORKSHOP!</strong><br/><em>“How to Heal the Loss of a Job, Find the Hidden Gifts and Move On.”</em></p>
<p>
Job endings, layoffs and positions being eliminated have become common. Unfortunately, our society is still coming to terms with how to honor and acknowledge this challenging rite of passage.  When someone’s position is eliminated it isn’t the same as being fired, and yet there is often a sense of misplaced guilt or shame attached to the experience.  Losing a job is a life transition and a major milestone, and it should be treated as such.  We should celebrate with, and for, the person going through this journey.
</p>
<p>
Unlike other losses in life, when someone’s job is eliminated there’s no ritual or service to go through to ease the sorrow, anger, and depression.  Grieving must often be done in private, and, if you are blessed, with the support of a loving spouse or good friends.  As with other losses, it can take months or even years to heal the grief of a job loss, and too often people are expected to quickly move past their emotions, find a new job and start over.
</p>
<p> 
There is another way, a better and more humane way of getting across the bridge from loss to new beginnings.  I have created a special three-hour workshop for people who have lost their job, been laid off, and/or experienced their position being eliminated.   The workshop combines group discussion, selected readings, purposeful self-reflection and a transformative rite of passage to honor the transition.  Whether your job loss is recent, or happened months ago, you will leave the workshop feeling lighter, with a clear sense of closure and new self-confidence.
</p>
<p>
Group workshops are limited to six people and will be held on: 
</p><!--
<h4>Workshop Dates</h4>
<h5>When: Saturday, June 14<br/>
	9 am - 12 noon
    </h5>
    <h6>Where: 11805 N. Pennsylvania Street<br/>
    Carmel, IN<br/>
    </h6>
<h5>When: Saturday, July 19<br/>
	9 am - 12 noon
    </h5>
    <h6>Where: 11805 N. Pennsylvania Street<br/>
    Carmel, IN<br/>
    </h6>
    <strong>
    <h6>
Participants can attend one of the group workshops, or can work with me one-on-one, by phone or in person, to achieve the same outcomes.<br/>
Fee:  $65 per person. Click<a href="javascript:fsLightbox1094512.show()"> here</a> to register online, call Elaine at (317) 730-5481 or email her at <a href="mailto:elaine@elainevoci.com">elaine@elainevoci.com</a></h6></strong>-->