        <blockquote data-ng-model="qotd">{{qotd}}

        </blockquote>
        <p><a href="#/ebook"><img src="images/new_ebook3_web_small.jpg"/></a><strong>About Elaine</strong></p>

        <p><strong>My Career Path</strong><br/> I have enjoyed happy, successful careers in:</p>
        <ul id="exp">
            <li>Teaching</li>
            <li>Counseling (including alcohol and drug abuse counseling)</li>
            <li>Cross Cultural Communication training in Japan</li>
            <li>Corporate Training and Development in the U.S., Canada, Europe and Asia</li>
            <li>Life coaching and Mentoring</li>
            <li>Public Speaking to audiences as small as 4 and as large as 2,000</li>
        </ul>
        <p>I am the granddaughter of Italian immigrants who came to America in search of a better life for their
            children.&nbsp; From the time I was a small child, the values of education and philanthropy were emphasized
            as the basis of a successful life and for leaving the world a better place.&nbsp; As a result of this family
            influence, I earned advanced degrees in psychology, rehabilitation science and human resource management and
            have regularly supported local charities.&nbsp; While my studies were diverse and unique, each program
            strengthened my understanding of human personality, motivation, and the desire to strive toward goals, and
            to work at something that matters.&nbsp; These were bound by the common fabrics of communication and an
            instinct to help others.&nbsp;</p>

        <p><br/> I love teaching and my personal mission has revolved around the roles of teacher, writer and coach. I
            first worked as a therapist in alcohol/drug abuse counseling where I learned the meaning of holistic
            health &ndash; &nbsp;we cannot separate the physical, emotional and spiritual dimensions of an illness if we
            are to help create the conditions for getting well and recovering.&nbsp;</p>

        <p><br/> I gradually moved into corporate training where I spent more than 20 years creating training programs,
            managing training departments, and mentoring training staff and trainees.&nbsp; I have written about the
            human elements in business in many publications, including the <em>Indianapolis Business Journal,
                Indianapolis Woman magazine</em> and <em>CEO magazine. &nbsp;</em></p>

        <p><em>&nbsp;</em><br/> Being a life coach is a natural extension of my first work and training as a Gestalt
            therapist and a perfect complement to my background in teaching, training and communication.&nbsp;&nbsp;
            The &ldquo;tool kit&rdquo; that I have assembled over the years is full, rich in diverse experience and
            enables me to connect sincerely with clients with compassion and caring.&nbsp; I define my work as my
            calling, My passion is to serve others&nbsp; as they set goals and strive to reach them successfully.</p>

        <p><br/> The career coaching I provide reflects the wide range of work experiences I have enjoyed in the U.S.
            and overseas.&nbsp; When I navigated my first career change, it was a career coach who taught me about the
            hidden job market and how to use networking to open up the field of possibilities.&nbsp; I teach my clients
            that same process now, drawing heavily from Richard Bolles&rsquo; classic book, <em>What Color&rsquo;s Your
                Parachute? </em>&nbsp;</p>

        <p><br/> What I love most about life coaching is the opportunity to help others see their own beauty and to
            assist in their personal healing and transformation &ndash; whether that means finding a job that makes
            their heart sing, &nbsp;exploring an encore career after retirement, or integrating a personal life
            transition.&nbsp; It is a privilege to assist others in a journey of the spirit that they intentionally
            choose to travel, one that will move them toward more joy, living an authentic life with a clear sense of
            purpose.&nbsp;</p>

        <p><br/> <strong>My Clients</strong><br/> I love working with men and women from different walks of life who
            want to grow personally and professionally.&nbsp; Some of the characteristics they share in common are:</p>
        <ul>
            <li>being open to learning</li>
            <li>having a desire to want more from life</li>
            <li>a passion to live the authentic life that is uniquely theirs &nbsp;&nbsp;</li>
        </ul>
        <p>(Please read more about my approach to coaching on the FAQs found on the sidebar of this home page. )</p>

        <p><strong> What is Coaching?</strong></p>

        <p>I believe that coaching is a mutually responsible relationship between coaches and clients designed to help
            clients determine their own destiny. Just as Olympic athletes don&rsquo;t rely solely on physical training
            without the support, objective feedback and experience of an athletic coach, many of today&rsquo;s most
            successful leaders, entrepreneurs and individuals utilize the perspective and experience of a coach to help
            lift their personal lives and careers to the next level.</p>

        <p><strong>Why Does Coaching Work?</strong></p>

        <p><strong>Accountability</strong> is built in. In addition to monthly face to face coaching sessions, I provide
            1-2 calls and unlimited e-mail exchanges each month with clients; this encourages them to work harder at
            their goals than if they were working alone. You can relate to this if you work out with a personal trainer
            at the gym &ndash; you work harder at those times than when you work out by yourself.</p>

        <p><strong>Expertise</strong> counts. As a trained life coach and a former therapist, I know how to listen to
            both feelings and words. This helps you think with more clarity, and structure your personal and
            professional life around the right goals to improve productivity and life satisfaction. You'll achieve more
            in less time with input that is supportive, motivating, compassionate and real world-based.</p>

        <p><strong>Delivery</strong> makes a difference. An objective, positive coach knows how to motivate without
            arm-twisting or nagging. My combined approach of monthly face to face sessions, 1-2 calls a month, and
            unlimited emails gives you time to integrate new ways of thinking and acting. Being coached is energizing
            and uplifting and, even when it&rsquo;s challenging, there is a sense of growing self-confidence that helps
            make it fun.</p>

        <p><strong>Fast results</strong> are motivating. Most people find that things start to happen quickly after
            hiring a coach. Events seem to gain momentum, and each day brings renewed enthusiasm for success in reaching
            goals that naturally motivate you. If there&rsquo;s a gap between where you are today and where you want to
            be, you are a good candidate for coaching. I will help you close the gap, and help you break through limited
            beliefs. I will challenge you to think on a bigger scale about what is possible. As one client put
            it, &ldquo;&hellip;you helped me see the landscape of my situation in new and exciting ways.&rdquo;</p>

        <p><strong>What Are the Benefits of Hiring a Coach?</strong></p>
        <ul class="faq">
            <li>You start making more focused and effective choices that are congruent with your values</li>
            <li>You stop tolerating what is no longer acceptable to you from others and from yourself</li>
            <li>You see more clearly the options you have to support you in changing your life</li>
            <li>You set and achieve goals that are based on what you really want in life</li>
            <li>You set clear boundaries in your life that bring a sense of empowerment and joy</li>
            <li>You have more energy and enthusiasm for life</li>
        </ul>
        <p><strong>Are You a Good Candidate for Coaching?</strong></p>

        <p>If there&rsquo;s a gap between where you are today in your personal and professional life and where you want
            to be, you are a good candidate for coaching. Clients seek coaching for many different reasons, but they
            share some common characteristics listed below. See how many of them apply to you:</p>
        <ol>
            <li>They are ready for a change &ndash; they want life to be different in some significant area.</li>
            <li>They feel unsure of where to start but they are motivated to make a change happen.</li>
            <li>They have tried some things in the past, on their own or with the help of a loved one, that haven&rsquo;t
                produced the results they wanted or illuminated the right answers.
            </li>
            <li>They are prepared to look deeply into what they are most passionate about and the kind of legacy they
                want to leave.
            </li>
            <li>They sense that they are ready to make a major decision but they lack the confidence to step out and do
                it.
            </li>
        </ol>
        To print Elaine's Life Coaching brochure <a href="pdf/12-VociCoachingBroch-forWeb.pdf"> click here.</a></div>