<p><strong>Career Coach Articles</strong></p>
<p>These articles appeared in @Carmel magazine and are now available to you online!</p>
<p><a href="docs/AtCarm pub May.pdf">Three Tips For Changing Careers</a></p>
<p><a href="docs/AtCarm, pub June.pdf">Be a Realistic Idealist</a></p>
<p><a href="docs/AtCarm pub July.pdf">How To Prepare For a Winning Job Interview</a></p>
<p><a href="docs/AtCarmel Sept.pdf">Crafting a Career That Fits Who You Are</a></p>
<p><a href="docs/AtCarmel OCT.pdf">Sometimes You Get A Second Chance</a></p>
<p><a href="docs/AtCarmel NOV.pdf">The Zen of College Internships</a></p>
<p><strong>BOOKS</strong></p>
<p><em><img src="images/ebook_cover_web.jpg" width="166" height="250" alt="Elaine's eBook!"/></em></p>
<p><em>It&rsquo;s here! My new e-book titled <strong>Creating the Work You Love: A Guide to Finding Your Right
    Livelihood</strong> has just been published.  It&rsquo;s available in formats that include PDF (reading on PC/MAC);
    EPUB (iPad, Nook and most e-book readers) and/or  MOBI (Kindle format) and is priced at $6.95.</em> Click <a
        href="https://www.ebookit.com/books/0000002329/Creating-the-Work-You-Love-A-Guide-to-Finding-Your-Right-Livelihood.html">here</a>
    to buy it.</p>
<p><br/>
    <strong>BridgeBuilders: Ordinary Women Doing Extraordinary Things</strong>
    <br/>Published by AuthorHouse, Bloomington, IN
    <br/>ISBN # 0-9749154-08
    <br/>To purchase, visit <a href="http://wwww.authorhouse.com">www.Authorhouse.com</a>
    <br/>(Also available on <a href="http://www.amazon.com">Amazon.com</a>)</p>
<p>
    <strong>The Finishing Touch, A Book About Successful Dog Handling:
        Life Lessons that Dogs Teach Us</strong>
    <br/>Co-authored with Steve SeRine
    <br/>Published by <a href="http://wwww.authorhouse.com">AuthorHouse</a>, Bloomington, IN
    <br/>ISBN# I-4208-8417-4 (dj)</p>
<p>
    <strong>Celebration of Light</strong>
    <br/>Published by AuthorHouse, Bloomington, IN
    <br/>ISBN # 1-4259-2725-4 (sc)</p>
<p>
    <strong>Team Teaching</strong>
    <br/>Chapter entitled, “Trust as a Key Component of a Multi-cultural Team”
    <br/>Published by Kenkyusha Press, Tokyo</p>
<p>
    <strong>Occasional Papers</strong> series published by Earlham College, Indiana
    <br/><em>“Beyond Cultural Awareness: Issues in Communication, Trust and Relationship-building”</em></p>
<p>
    <strong>White paper series</strong>, <em>View From the Field</em>
    <br/>Skillsoft Corporation, Dublin, Ireland
    <br/>Human resource management and e-learning topics</p>
<p>
    Featured in Erin Albert, Ph.D. Book,
    <br/><strong>Indianapolis: A Young Professional’s Guide</strong>
    <br/>In chapter titled, “Interview with a Thinker/Writer/Coach:
    <br/>Elaine Voci, Ph.D.” pages 356-361
    <br/>Published by AuthorHouse, Bloomington, IN
    <br/>ISBN # 978-I-4490-9531-4 (e book)</p>
<p>
    <strong>JOURNALS</strong>
    <br/>Literati Club, United Kingdom, Industrial and Commercial Training, Vol. 33, Numbers 4-5, 2001
    <br/><em>Blended Learning working in leadership development programme</em>, (selected for Highly Commendable Award)
    Co-authored with Kevin Young</p>
<p>
    Journal of the Society for Accelerative Learning and Teaching
    <br/><em>Teaching Adult Learners Using Accelerated Learning</em> (paper also presented at 12th Annual SALT
    Conference in Ames, Iowa)</p>
<p>
    <strong>ARTICLES</strong>
    <br/><em>Building Blocks of Hope for Women and Children Living in Poverty</em>
    <br/>A Resource Packet co-authored with Beckie Steele
    <br/>Published by Augsberg Press for Women of the Evangelical Lutheran Church in America</p>
<p>
    Past Contributing writer, <em>Kaleidoscope</em>, online diversity magazine of the AFP (Association of Fundraising
    Professionals)</p>
<p>
    Past Contributing writer, ORG online magazine</p>
<p><strong>All articles here are complimentary as PDF documents. I know they will help you as you apply them to your
    life.</strong></p>
<p><a href="pdf/Tips for Introverts on Networking.pdf">Yes, You Can and Yes, You Must: Networking Tips for
    Introverts</a></p>
<p><a href="pdf/Five Ways to Become More Intentional.pdf">Five Ways to Become More Intentional</a></p>
<p><a href="pdf/How to Age Well and Live a Happy Life.pdf">How to Age Well and Live a Happy Life</a></p>