<p><strong>Reading List and Web Resources</strong><br/>
    There are many excellent books to help enrich and support you on your journey. These are books that I have found
    personally helpful and often recommend to clients in my coaching practice. I grouped them into categories and some
    of them could easily fit into all four.</p>
<p><br/>
    <strong>TO INSPIRE YOU</strong></p>
<ul>
    <li>Gift from the Sea by Anne Morrow Lindbergh</li>
    <li>Kitchen Table Wisdom by Rachel Naomi Remen</li>
    <li>This Time I Dance! Creating the Work You Love by Tama Kieves</li>
    <li>The Invitation by Oriah Mountain Dreamer</li>
    <li>Do What You Love and the Money Will Follow by Marsha Sinetar</li>
    <li>Eat, Pray, Love by Elizabeth Gilbert</li>
    <li>Bridgebuilders: Ordinary Women Doing Extraordinary Things by Elaine Voci</li>
</ul>
<p><br/>
    <strong>TO AWAKEN YOU</strong></p>
<p><br/>
<ul>
    <li>Way of the Peaceful Warrier by Dan Millman</li>
    <li>Wherever You Go There You Are by Jon Kabat-Zinn</li>
    <li>Move Your Stuff, Change Your Life by Karen Rauch Carter</li>
    <li>The Intuitive Way: the definitive guide to increasing your awareness by Penny Pierce</li>
    <li>Your Owner’s Manual by Burt Hotchkiss</li>
    <li>Meditations to Change Your Life by Louise Hay</li>
    <li>My Stroke Of Insight, A Brain Scientist’s Personal Journey by Jill Bolte Taylor, Ph.D.</li>
    <li>Excuse Me, Your Life is Waiting by Lynn Grabhorn</li>
    <li>Lots of Candles, Plenty of Cake by Anna Quindlen</li>
    <li>The Road Less Traveled by M. Scott Peck, M.D.</li>
    <li>A New Earth by Eckhart Tolle</li>
    <li>A Woman’s Journey to God: Finding the Feminine Path by Joan Borysenko</li>
</ul>
<p><br/><strong>ON WORKING AND CAREER GOALS</strong></p><br/>
<ul>
    <li>What Color’s Your Parachute by Richard Bolles</li>
    <li>The Girl’s Guide to Starting Your Own Business by Caitlin Friedman and Kimberly Yorio</li>
    To Build the Life You Want Create the Work You Love by Marsha Sinetar<br/>
    Do What You Are by Paul Tieger and Barbara Baron-Tieger<br/>
    The Complete Idiot’s Guide to The Perfect Resume by Susan Ireland<br/>
    Life’s a Bitch and Then You Change Careers: 9 Steps to Get You Out of Your Funk and On to Your Future by Andrea
    Kay<br/>
    <li>Helpful Websites for Business and Career Interests:</li>
    <li>Catalyst (nonprofit research and advisory organization) www.catalyst.org</li>
    <li>National Association of Women Business Owners, www.nawbo.org</li>
    <li>U.S. Small Business Administration, www.sba.gov</li>
    <li>Women’s Business Centers, www.womenbiz.org</li>
    <li>Women’s Business Enterprise National Council, www.wbenc.org</li>
</ul>
<p><br/><strong>ON CREATIVITY AND WRITING</strong></p><br/>
<ul>
    <li>Bird by Bird: Some Instructions on Writing and Life by Anne Lamott</li>
    <li>The Artist’s Way by Julia Cameron</li>
    <li>Succulent Wild Woman by SARK</li>
    <li>Writing as a Way of Healing by Louise DeSalvo</li>
    <li>Writing Down the Bones by Natalie Goldberg</li>
    <li>Writing for Your Life by Deena Metzger</li>
    <li>Journal to the Self by Kay Adams, LPC</li>
    </p></ul>