<p><strong>Reading List</strong><br/>
    There are many excellent books to help enrich and support you on your journey. These are books that I have found
    personally helpful and often recommend to clients in my coaching practice.</p>
<p><br/>
    <strong>FOR PERSONAL GROWTH</strong></p>
<ul>
    <li>Frequency: the power of Personal Vibration, by Penney Peirce (free audio downloads with printed book)</li>
    <li>The Gifts of Caregiving: Stories of Hardship, Hope and Healing by Connie Goldman</li>
    <li>E2: Nine do-it-yourself energy experiments that prove your thoughts create your reality  by Pam Grout</li>
    <li>Writing to Change the World: an inspiring guide for transforming the world with words by Mary Pipher</li>
    <li>When Things Fall Apart: Heart Advice for Difficult Times by Pema Chodron</li>
	<li>Soul of a Citizen: Living with Conviction in Challenging Times  by Paul Rogat Loeb</li>
</ul>
<p><br/>
    <strong>FOR INSPIRATION</strong></p>
<p><br/>
<ul>
    <li>Tattoos on the Heart by Father Gregory Boyle</li>
    <li>A New Earth: Awakening to Your Life’s Purpose by Eckhart Tolle</li>
    <li>The Last Lecture by Randy Pausch</li>
    <li>Tuesdays with Morrie by Mitch Albom</li>
    <li>Kitchen Table Wisdom by Naomi Naomi Remen</li>
    <li>Mindful Meditation for Beginners by Jon Kabat-Zinn</li>
</ul>
<p><br/>
<strong>FOR YOUR CAREER</strong></p>
<p><br/>
<ul>
    <li>This Time I Dance by Tama J. Kieves</li>
    <li>What Color’s Your Parachute?  by Richard Bolles</li>
    <li>What Color’s Your Parachute: Job Hunters Workbook by Richard Bolles</li>
    <li>What’s Next?  By Kerry Hannon</li>
    <li>Decisive: How To Make Better Choices In Life and Work by Chip Heath and Dan Heath</li>
    <li>Quiet: The Power of Introverts in a World That Can’t Stop Talking by Susan Cain</li>
    <li>Make a Name for Yourself  by Robin Fisher Roffer</li>
</ul>