<h2>Successfully Managing Personal Life Transitions<em></em></h2>
<em>
    <blockquote>All changes, even the most longed for, have their melancholy; for what we leave behind is part of
        ourselves. We must die to one life before we can enter into another.<br/>
        —Anatole France, author
    </blockquote>
</em>
<hr/>
<p><em><strong>Change</strong></em> happens when something starts or stops in our lives; change
    and endings go hand in hand.<em><strong> Transition</strong></em>, by comparison, is the psychological process we
    must go through to disengage from the old and become oriented to the new. Similar to the grieving process,
    transitions have three stages: endings, the neutral zone and new beginnings. Any change, whether voluntary or
    imposed upon us, will not “work” unless transition occurs.</p>
<p>This 3-hour interactive workshop is based on the work of William Bridges, Ph.D., and others. Elaine Voci, Ph.D. will
    facilitate and provide insights, inspiration and practical strategies to help you honor the past, utilize the
    creative potential of the in-between neutral zone, and embrace the future with joy. Participants each receive a
    binder with a full set of handouts, and a resource reading list of “best books.”</p>
<!--<h2>Workshop dates		</h2>
       <h3>When: Saturday March 16, 2013<br />
       		9:30 am - 12:30 pm<br />
       </h3>
       <h4>Where: 11805 North Pennsylvania Street<br />
       Carmel, IN<br /></h4>
       <h4>
        Fee: $60 per person</h4>
	    <strong>
        <h5><br />
        <a href="#/paypal">Click here to register online</a>, call Elaine at (317) 730 - 5481 or email her at <a href="mailto:elaine@elainevoci.com">elaine@elainevoci.com</a></h5>
	</strong>-->