<H2>An evening with...</H2>
An evening with is an ongoing series where you will meet special women authors, social innovators and enterprising small business owners.
<hr>
<div>
    <p><img src="images/EBuild_Women.png" width="286" height="208"></p>

    <p><strong>An evening with the Women Build Project of the Johnson County Habitat for Humanity: </strong></p>

    <p><strong>&quot;Home is where the Heart Is!&quot;</strong></p>

    <p>There have been 1,500 Habitat for Humanity homes built by women-only work crews in the US and around the world.
        One of them was built in nearby Johnson County last fall when 240 female volunteers raised a record $85,000 for
        their Habitat&rsquo;s first-ever Women Build project, more than any other Johnson County Habitat project. They
        approached the build with a uniquely feminine touch of class and wore matching pink shirts and hard hats and
        used shovels artfully decorated with paint, flower patterns, zebra stripes and ribbon to break ground. The end
        result was a safe and comfortable 1,200 square-foot ranch home in Franklin for new home owner, Brandy Shockley
        and her two daughters. Four members of this unique construction team will share the inspiring story of their
        empowerment and teamwork that received national recognition, and they will describe the life lessons they
        learned from engaging in this positive project. </p>
</div>
<br>
<h3>When: Thursday March 27, 2014<br/>
    6:00 pm - 8:00 pm<br/>
    $20 per person
</h3>
<h4>Where: 11805 North Pennsylvania Street<br/>
    Carmel, IN<br/>
</h4>
<div>
    <p><img src="images/Evening_with-Penny_Davis-v2_pdf__1_page_.png" width="146" height="171"></p>

    <p><strong>An evening with Penny Davis: Former hospice director/Author/Nurse/Grandmother</strong></p>

    <p><strong>&quot;Pjs, Pearls and Fishing Poles: Life Lessons from Hospice&quot;</strong></p>

    <div title="Page 1">
        <div>
            <div>
                <p>A former Executive Director of a hospice organization, Penny will share stories from her decades-long
                    career and interactions with families, hospice team members and patients from her newly published
                    book, PJ&rsquo;s, Pearls and Fishing Poles. The book is not about death or the dying process, but
                    is, instead, focused on how to live with meaning until the end of our lives. In her presentation,
                    Penny will invite us into the caring world of hospice, providing insights into the interdisciplinary
                    team and how it works, as well as a deeper understanding of the patient-centered focus of hospice
                    care that goes far beyond pain management and provides emotional support for patients and families
                    as they navigate the end-of-life journey. </p>

                <p>There are rich and meaningful life lessons to be learned from the care of the dying and Penny will
                    provide an intimate guided tour of hospice that will undoubtedly change your perspective on living
                    fully and remembering well. </p>
            </div>
        </div>
    </div>
</div>
<br>
<h3>When: Thursday April 17, 2014<br/>
    6:00 pm - 8:00 pm<br/>
    $20 per person
</h3>
<h4>Where: 11805 North Pennsylvania Street<br/>
    Carmel, IN<br/>
</h4>
<div>
    <p><strong><img src="images/andy_murphy.png" width="140" height="160" align="texttop"></strong></p>

    <p><strong>An evening with Andy Murphy: Author, literary agent, founder and Executive Director of WriteStuff
        Writer's Conferences Events.</strong></p>

    <p><strong>&quot;No Excuses: Don't Rob Yourself of a Life-Changing Adventure.&quot;</strong></p>Andy will discuss
    how life allows us many chances to succeed or to fail. Too often, as women, we make excuses about why we can’t do
    something when, instead, we should ask ourselves, “What’s stopping me?”</p>
</div>
<br>
<h3>When: Thursday May 8, 2014<br/>
    6:30 pm - 8:00 pm<br/>
    $20 per person
</h3>
<h4>Where: 11805 North Pennsylvania Street<br/>
    Carmel, IN<br/>
</h4>
</div>
<a href="javascript:fsLightbox1094512.show()">Click here to register online</a>, call Elaine at (317) 730 - 5481 or email her at <a
        href="mailto:elaine@elainevoci.com">elaine@elainevoci.com</a></h4>
</p>