<H2>An evening with...</H2>
An evening with is an ongoing series where you will meet special women authors, social innovators and enterprising small business owners.
<hr>
<div><!--
    <p><strong><img src="images/andy_murphy.png" width="140" height="160" align="texttop"></strong></p>

    <p><strong>An evening with Andy Murphy: Author, literary agent, founder and Executive Director of WriteStuff
        Writer's Conferences Events.</strong></p>

    <p><strong>&quot;No Excuses: Don't Rob Yourself of a Life-Changing Adventure.&quot;</strong></p>Andy will discuss
    how life allows us many chances to succeed or to fail. Too often, as women, we make excuses about why we can’t do
    something when, instead, we should ask ourselves, “What’s stopping me?”</p>
</div>
<br>
<h3>When: Thursday May 8, 2014<br/>
    6:30 pm - 8:00 pm<br/>
    $20 per person
</h3>
<h4>Where: 11805 North Pennsylvania Street<br/>
    Carmel, IN<br/>
</h4>
</div>
<a href="javascript:fsLightbox1094512.show()">Click here to register online</a>, call Elaine at (317) 730 - 5481 or email her at <a
        href="mailto:elaine@elainevoci.com">elaine@elainevoci.com</a></h4>-->
</p>