<p><strong>Comments about Elaine's life coaching:</strong></p><p>
    <em>&quot;Thank you for helping me give my sadness a name. You truly are a 'prism' of light because you are always
        able to help me find such clarity.&quot;</em></p>
<p>
    <em>&quot;Thank you; you are a wonderful heart- centered teacher and I have a renewed sense of understanding and
        determination that anything is possible with perseverance.&quot;</em></p>
<p>
    <em>&quot;I thank you for your gentleness, generosity of spirit, and wonderful insights. I just feel so supported
        and so "okay". I now can move forward with more confidence.&quot;</em></p>
<p>
    <em>&quot;We both really felt that we gained so much from your time with us. You have a great gift and I feel you
        are using it to maximum advantage to help the people with whom you relate. Thank you.&quot;</em></p>
<p>
    <em>&quot;Thank you for all you do to bring healing into the world. Your loving caring heart has helped me open mine
        to the world.&quot;</em></p>
<p>&nbsp;</p>